<div id='contenedor-login' class='login'>
    <div class="login">
        <form action="/home" method="POST">
        <div class="form-group">
            <label for="user">Usuario: </label><input type="text" placeholder="usuario" id="user" name="user"><span><label for="password">Password:
                </label><input type="password" placeholder="contraseña" id="password" name="password"><span><button type="submit"
                    class="btn btn-dark">Ingresar</button></span></span>
        </div>
    </form>
    </div>
</div>